<div class="header">
  <h1> Welcome To My Portfolio</h1>
  <p> Here you get to see all current and upcoming projects</p>
  <img src="https://img.icons8.com/nolan/64/000000/overview-pages-2.png">
  <p>Resume</p>
  
</div>


<br/>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Projects</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">GitHub repositories that I've built.</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% for repository in site.github.public_repositories limit: 9 %}
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include repo-card.html %}
    </div>
  {% endfor %}
</div>
